@model PageData<Product>

<h1> Welcome To Asp.net core</h1>
<div>
    @foreach (var item in Model.Data)
    {
        @Html.Partial("_ProductPartial" , item)
    }

</div>
<paging total-pages="@Model.PageInfo.PageCount"
        current-page="@Model.PageInfo.PageNumber"
        ul-class="pagination custom-pagination"
        li-class="page-item my-li"
        a-class="page-link my-a"
        active-class="active my-active"
        action="Index"
        controller="Home"></paging>


